In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.preprocessing import scale
from matplotlib import pyplot as plt

In [2]:
data=pd.read_csv('DataFiles/CarsPrices.csv')

In [4]:
data.tail()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
2455,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
2456,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
2457,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
2458,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
2459,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [13]:
data.dtypes

symboling              int64
normalized_losses     object
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                  object
stroke                object
compression_ratio    float64
horsepower            object
peak_rpm              object
city_mpg               int64
highway_mpg            int64
price                 object
dtype: object

In [14]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [15]:
dataFrame=data
dataFrame.make=le.fit_transform(data.make)
dataFrame.fuel_type=le.fit_transform(data.fuel_type)
dataFrame.aspiration=le.fit_transform(data.aspiration)
dataFrame.num_doors=data.num_doors.astype(str)
dataFrame.num_doors=le.fit_transform(data.num_doors)
dataFrame.body_style=le.fit_transform(data.body_style)
dataFrame.drive_wheels=le.fit_transform(data.drive_wheels)
dataFrame.engine_location=le.fit_transform(data.engine_location)
dataFrame.engine_type=le.fit_transform(data.engine_type)
dataFrame.num_cylinders=le.fit_transform(data.num_cylinders)
dataFrame.fuel_system=le.fit_transform(data.fuel_system)
dataFrame.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,0,1,0,2,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,0,1,0,2,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,0,1,0,2,2,2,0,94.5,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,1,1,0,1,3,1,0,99.8,...,109,5,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,1,1,0,1,3,0,0,99.4,...,136,5,3.19,3.4,8.0,115,5500,18,22,17450

In [16]:
dataFrame.dtypes

symboling              int64
normalized_losses     object
make                   int32
fuel_type              int32
aspiration             int32
num_doors              int32
body_style             int32
drive_wheels           int32
engine_location        int32
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type            int32
num_cylinders          int32
engine_size            int64
fuel_system            int32
bore                  object
stroke                object
compression_ratio    float64
horsepower            object
peak_rpm              object
city_mpg               int64
highway_mpg            int64
price                 object
dtype: object

In [17]:
dataFrame=dataFrame.replace('?',np.nan)
dataFrame

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,0,1,0,2,0,2,0,88.6,...,130,5,3.47,2.68,9.00,111,5000,21,27,13495
1,3,NaN,0,1,0,2,0,2,0,88.6,...,130,5,3.47,2.68,9.00,111,5000,21,27,16500
2,1,NaN,0,1,0,2,2,2,0,94.5,...,152,5,2.68,3.47,9.00,154,5000,19,26,16500
3,2,164,1,1,0,1,3,1,0,99.8,...,109,5,3.19,3.4,10.00,102,5500,24,30,13950
4,2,164,1,1,0,1,3,0,0,99.4,...,136,5,3.19,3.4,8.00,115,5500,18,22,17450
5,2,NaN,1,1,0,2,3,1,0,99.8,...,136,5,3.19,3.4,8.50,110,5500,19,25,15250
6,1,158,1,1,0,1,3,1,0,105.8,...,136,5,3.19,3.4,8.50,110,5500,19,25,17710
7,1,NaN,1,1,0,1,4,1,0,105.8,...,136,5,3.19,3.4,8.50,110,5500,19,25,18920
8,1,158,1,1,1,1,3,1,0,105.8,...,131,5,3.13,3.4,8.30,140,5500,17,20,23875
9,0,NaN,1,1,1,2,2,0,0,99.5,...,131,5,3.13,3.4,7.00,160,5500,16,22,NaN
10,2,192,2,1,0,2,3,2,0,101.2,...,108,5,3.5,2.8,8.80,101,5800,23,29,16430
11,0,192,2,1,0,1,3,2,0,101.2,...,108,5,3.5,2.8,8.80,101,5800,23,29,16925
12,0,188,2,1,0,2,3,2,0,101.2,...,164,5,3.31,3.19,9.00,121,4250,21,28,20970
13,0,188,2,1,0,1,3,2,0,101.2,...,164,5,3.31,3.19,9.00,121,4250,21,28,21105
14,1,NaN,2,1,0,1,3,2,0,103.5,...,164,5,3.31,3.19,9.00,121,4250,20,25,24565
15,0,NaN,2,1,0,1,3,2,0,103.5,...,209,5,3.62,3.39,8.00,182,5400,16,22,30760
16,0,NaN,2,1,0,2,3,2,0,103.5,...,209,5,3.62,3.39,8.00,182,5400,16,22,41315
17,0,NaN,2,1,0,1,3,2,0,110.0,...,209,5,3.62,3.39,8.00,182,5400,15,20,36880
18,2,121,3,1,0,2,2,1,0,88.4,...,61,1,2.91,3.03,9.50,48,5100,47,53,5151
19,1,98,3,1,0,2,2,1,0,94.5,...,90,1,3.03,3.11,9.60,70,5400,38,43,6295
20,0,81,3,1,0,1,3,1,0,94.5,...,90,1,3.03,3.11,9.60,70,5400,38,43,6575
21,1,118,4,1,0,2,2,1,0,93.7,...,90,1,2.97,3.23,9.41,68,5500,37,41,5572
22,1,118,4,1,0,2,2,1,0,93.7,...,90,1,2.97,3.23,9.40,68,5500,31,38,6377
23,1,118,4,1,1,2,2,1,0,93.7,...,98,5,3.03,3.39,7.60,102,5500,24,30,7957
24,1,148,4,1,0,1,2,1,0,93.7,...,90,1,2.97,3.23,9.40,68,5500,31,38,6229
25,1,148,4,1,0,1,3,1,0,93.7,...,90,1,2.97,3.23,9.40,68,5500,31,38,6692
26,1,148,4,1,0,1,3,1,0,93.7,...,90,1,2.97,3.23,9.40,68,5500,31,38,7609
27,1,148,4,1,1,0,3,1,0,93.7,...,98,5,3.03,3.39,7.60,102,5500,24,30,8558
28,-1,110,4,1,0,1,4,1,0,103.3,...,122,1,3.34,3.46,8.50,88,5000,24,30,8921
29,3,145,4,1,1,2,2,1,0,95.9,...,156,4,3.6,3.9,7.00,145,5000,19,24,12964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2430,-1,65,19,1,0,1,2,1,0,102.4,...,122,5,3.31,3.54,8.70,92,4200,27,32,9988
2431,-1,65,19,1,0,1,3,1,0,102.4,...,122,5,3.31,3.54,8.70,92,4200,27,32,10898
2432,-1,65,19,1,0,1,2,1,0,102.4,...,122,5,3.31,3.54,8.70,92,4200,27,32,11248
2433,3,197,19,1,0,2,2,2,0,102.9,...,171,5,3.27,3.35,9.30,161,5200,20,24,16558
2434,3,197,19,1,0,2,2,2,0,102.9,...,171,5,3.27,3.35,9.30,161,5200,19,24,15998
2435,-1,90,19,1,0,1,3,2,0,104.5,...,171,5,3.27,3.35,9.20,156,5200,20,24,15690
2436,-1,NaN,19,1,0,1,4,2,0,104.5,...,161,5,3.27,3.35,9.20,156,5200,19,24,15750
2437,2,122,20,0,0,2,3,1,0,97.3,...,97,3,3.01,3.4,23.00,52,4800,37,46,7775
2438,2,122,20,1,0,2,3,1,0,97.3,...,109,5,3.19,3.4,9.00,85,5250,27,34,7975
2439,2,94,20,0,0,1,3,1,0,97.3,...,97,3,3.01,3.4,23.00,52,4800,37,46,7995
2440,2,94,20,1,0,1,3,1,0,97.3,...,109,5,3.19,3.4,9.00,85,5250,27,34,8195
2441,2,94,20,1,0,1,3,1,0,97.3,...,109,5,3.19,3.4,9.00,85,5250,27,34,8495
2442,2,94,20,0,1,1,3,1,0,97.3,...,97,3,3.01,3.4,23.00,68,4500,37,42,9495
2443,2,94,20,1,0,1,3,1,0,97.3,...,109,5,3.19,3.4,10.00,100,5500,26,32,9995
2444,3,NaN,20,1,0,2,0,1,0,94.5,...,109,5,3.19,3.4,8.50,90,5500,24,29,11595
2445,3,256,20,1,0,2,2,1,0,94.5,...,109,5,3.19,3.4,8.50,90,5500,24,29,9980
2446,0,NaN,20,1,0,1,3,1,0,100.4,...,136,5,3.19,3.4,8.50,110,5500,19,24,13295
2447,0,NaN,20,0,1,1,3,1,0,100.4,...,97,3,3.01,3.4,23.00,68,4500,33,38,13845
2448,0,NaN,20,1,0,1,4,1,0,100.4,...,109,5,3.19,3.4,9.00,88,5500,25,31,12290
2449,-2,103,21,1,0,1,3,2,0,104.3,...,141,5,3.78,3.15,9.50,114,5400,23,28,12940
2450,-1,74,21,1,0,1,4,2,0,104.3,...,141,5,3.78,3.15,9.50,114,5400,23,28,13415
2451,-2,103,21,1,0,1,3,2,0,104.3,...,141,5,3.78,3.15,9.50,114,5400,24,28,15985
2452,-1,74,21,1,0,1,4,2,0,104.3,...,141,5,3.78,3.15,9.50,114,5400,24,28,16515
2453,-2,103,21,1,1,1,3,2,0,104.3,...,130,5,3.62,3.15,7.50,162,5100,17,22,18420
2454,-1,74,21,1,1,1,4,2,0,104.3,...,130,5,3.62,3.15,7.50,162,5100,17,22,18950
2455,-1,95,21,1,0,1,3,2,0,109.1,...,141,5,3.78,3.15,9.50,114,5400,23,28,16845
2456,-1,95,21,1,1,1,3,2,0,109.1,...,141,5,3.78,3.15,8.70,160,5300,19,25,19045
2457,-1,95,21,1,0,1,3,2,0,109.1,...,173,5,3.58,2.87,8.80,134,5500,18,23,21485
2458,-1,95,21,0,1,1,3,2,0,109.1,...,145,3,3.01,3.4,23.00,106,4800,26,27,22470
2459,-1,95,21,1,1,1,3,2,0,109.1,...,141,5,3.78,3.15,9.50,114,5400,19,25,22625

In [18]:
dataFrame.mean()

symboling               0.834146
make                   12.195122
fuel_type               0.902439
aspiration              0.180488
num_doors               1.424390
body_style              2.614634
drive_wheels            1.326829
engine_location         0.014634
wheel_base             98.756585
length                174.049268
width                  65.907805
height                 53.724878
curb_weight          2555.565854
engine_type             3.014634
num_cylinders           2.117073
engine_size           126.907317
fuel_system             3.253659
compression_ratio      10.142537
city_mpg               25.219512
highway_mpg            30.751220
dtype: float64

In [19]:
from sklearn.preprocessing import Imputer

In [20]:
imp=Imputer(missing_values="NaN",strategy="mean",axis=0)
imp=imp.fit(dataFrame.iloc[:,:])
dataFrame.iloc[:,:]=imp.transform(dataFrame.iloc[:,:])
dataFrame.head()

C:\Users\arsha\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3.0,122.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,88.6,...,130.0,5.0,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,13495.0
1,3.0,122.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,88.6,...,130.0,5.0,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,16500.0
2,1.0,122.0,0.0,1.0,0.0,2.0,2.0,2.0,0.0,94.5,...,152.0,5.0,2.68,3.47,9.0,154.0,5000.0,19.0,26.0,16500.0
3,2.0,164.0,1.0,1.0,0.0,1.0,3.0,1.0,0.0,99.8,...,109.0,5.0,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.0
4,2.0,164.0,1.0,1.0,0.0,1.0,3.0,0.0,0.0,99.4,...,136.0,5.0,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0

In [21]:
dataFrame=dataFrame.astype(int)

In [22]:
dataFrame.dtypes

symboling            int32
normalized_losses    int32
make                 int32
fuel_type            int32
aspiration           int32
num_doors            int32
body_style           int32
drive_wheels         int32
engine_location      int32
wheel_base           int32
length               int32
width                int32
height               int32
curb_weight          int32
engine_type          int32
num_cylinders        int32
engine_size          int32
fuel_system          int32
bore                 int32
stroke               int32
compression_ratio    int32
horsepower           int32
peak_rpm             int32
city_mpg             int32
highway_mpg          int32
price                int32
dtype: object

In [23]:
x=dataFrame.iloc[:,0:26]
y=dataFrame.price

In [24]:
x.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,122,0,1,0,2,0,2,0,88,...,130,5,3,2,9,111,5000,21,27,13495
1,3,122,0,1,0,2,0,2,0,88,...,130,5,3,2,9,111,5000,21,27,16500
2,1,122,0,1,0,2,2,2,0,94,...,152,5,2,3,9,154,5000,19,26,16500
3,2,164,1,1,0,1,3,1,0,99,...,109,5,3,3,10,102,5500,24,30,13950
4,2,164,1,1,0,1,3,0,0,99,...,136,5,3,3,8,115,5500,18,22,17450

In [25]:
y.head()

0    13495
1    16500
2    16500
3    13950
4    17450
Name: price, dtype: int32

In [26]:
x=scale(x)
x

C:\Users\arsha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int32 were all converted to float64 by the scale function.
  """Entry point for launching an IPython kernel.

array([[ 1.74347043,  0.        , -1.94825569, ..., -0.64655303,
        -0.54605874,  0.03667383],
       [ 1.74347043,  0.        , -1.94825569, ..., -0.64655303,
        -0.54605874,  0.4194982 ],
       [ 0.133509  ,  0.        , -1.94825569, ..., -0.95301169,
        -0.69162706,  0.4194982 ],
       ...,
       [-1.47645244, -0.85433189,  1.40664061, ..., -1.10624102,
        -1.12833203,  1.05456624],
       [-1.47645244, -0.85433189,  1.40664061, ...,  0.11959362,
        -0.54605874,  1.18005109],
       [-1.47645244, -0.85433189,  1.40664061, ..., -0.95301169,
        -0.83719538,  1.19979744]])

In [27]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state = 1)

In [28]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1968, 26)
(492, 26)
(1968,)
(492,)

In [29]:
x=pd.DataFrame(x)
x.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.743470,0.000000,-1.948256,0.328798,-0.469295,1.120713,-3.050975,1.213330,-0.121867,-1.701698,...,0.074449,0.869568,0.355491,-2.628811,-0.213162,0.171128,-0.263476,-0.646553,-0.546059,0.036674
1,1.743470,0.000000,-1.948256,0.328798,-0.469295,1.120713,-3.050975,1.213330,-0.121867,-1.701698,...,0.074449,0.869568,0.355491,-2.628811,-0.213162,0.171128,-0.263476,-0.646553,-0.546059,0.419498
2,0.133509,0.000000,-1.948256,0.328798,-0.469295,1.120713,-0.717207,1.213330,-0.121867,-0.710183,...,0.604046,0.869568,-2.813013,0.316032,-0.213162,1.261870,-0.263476,-0.953012,-0.691627,0.419498
3,0.938490,1.328961,-1.788499,0.328798,-0.469295,-0.826289,0.449677,-0.589081,-0.121867,0.116080,...,-0.431076,0.869568,0.355491,0.316032,0.037977,-0.057167,0.787354,-0.186865,-0.109354,0.094639
4,0.938490,1.328961,-1.788499,0.328798,-0.469295,-0.826289,0.449677,-2.391492,-0.121867,0.116080,...,0.218885,0.869568,0.355491,0.316032,-0.464301,0.272593,0.787354,-1.106241,-1.273900,0.540524

In [30]:
from sklearn.neighbors import KNeighborsClassifier
model_knn=KNeighborsClassifier(n_neighbors=7,metric='euclidean')
model_knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='uniform')

In [31]:
model_knn

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='uniform')

In [32]:
y_predict=model_knn.predict(x_test)
print(len(y_predict))
y_predict

492

array([ 9095, 30760,  7775,  5499, 22018,  6377,  7995, 10295,  7775,
       25552,  7898,  7395,  6338, 41315, 22470, 17075,  7995,  7198,
       15645, 18150, 13415,  6849,  6189, 18150, 12290, 11259, 16845,
        8948, 12290, 11199, 16500,  7126,  7499,  5389, 17669, 11900,
       22470, 17450, 17710, 18280,  6229,  7198,  6669, 11549,  6095,
        8499,  8249,  7738, 17075,  6918, 17950,  7349, 15645, 10795,
        5348,  8189, 16503, 34184,  7999,  7099, 18344, 16500, 15250,
        9995, 36880, 11248, 15580, 10795, 37028, 36880,  9959, 12440,
       15998, 15040, 13200,  8948,  6938,  6575, 30760,  5348, 35056,
        6338,  5348, 11048, 45400, 12170,  7689, 11694, 15985, 18620,
       34028,  6692,  6692,  7295,  7053,  7957, 18920,  7395,  8189,
        9495, 18420,  8058, 17199,  9989, 18420, 16558,  5118, 18280,
        6938, 17075, 31600, 11248, 11259,  8358,  9233,  7775, 15690,
        9279, 13950, 15985,  9279,  5399, 13207,  9233,  5572,  9495,
        6795,  6849, 10295, 15645, 13415,  7126, 10898, 19045, 10945,
       32528,  9279,  5399, 11845,  8778,  7957,  9959,  8495,  8058,
        9989, 18399, 13845,  5389, 13200,  5195, 14489,  7788, 30760,
       45400, 10295, 18280, 13645,  9279,  7295,  6488, 18150, 12629,
        9988,  7499, 32250,  7957, 10295, 11048, 18620, 21485,  6377,
        8499,  6785, 15580, 34028,  8249,  7898,  7126,  7957, 23875,
        5195, 11850, 34028, 17669, 18399, 12629,  7499,  6479, 15998,
       36000, 22625,  8238, 18950,  8845,  7295, 28176, 32528, 25552,
       12629,  9095, 12940,  9960,  8195, 32250,  8948, 13845, 13207,
       22625, 11850, 16515, 40960,  8949, 11850, 13950, 11259, 14869,
        9549,  9258, 15510,  7299,  7295, 11248, 45400, 13645,  9960,
        8558,  6529, 13499, 41315, 10945, 12170, 18920, 13499, 13845,
       12945,  6189, 28248, 22470,  7126, 11199, 15580, 11549,  8921,
       10595,  9989,  9279, 12945,  6938, 12440,  7603, 10898, 17450,
        9538,  6989,  6189,  9258, 13207, 13845, 45400, 31600,  9988,
       11694,  5348,  5348,  9960,  7788,  9495,  6849,  7603, 17669,
       16845, 21485, 13207,  8921,  6095, 28176,  8949, 13845,  6479,
        8238, 11845, 11845,  7499, 10698, 14869,  6377, 14869,  8058,
       12764, 13295,  5348,  7129, 11199,  5151,  6918,  9995, 13499,
       10198,  7295, 15040,  8845,  8495,  6785,  6229,  8845,  6488,
       10898,  7053,  9995, 28248, 36000, 12964,  7609, 10198, 12964,
        9298,  7895,  5399,  5572,  7775, 16925,  7898, 18920, 16630,
        7395, 16845, 31600, 13845, 13207,  8921, 28176,  7895,  9959,
       16503,  6529,  9295, 19699,  7999, 11248, 17075,  8845,  7349,
       16630,  5195, 15645, 28248,  7957, 11694,  6229, 11900, 18344,
       16630, 21485, 20970, 17710, 13845, 12964, 15750,  9960, 17199,
       18150,  6575,  9295,  6918,  8921, 13860,  7609, 12290,  6295,
        7975, 18420,  9298, 22625,  6692,  6479,  6575, 11259, 10198,
       11259, 12629,  5572, 13207, 21485, 13207, 22470,  7799,  6795,
        5151, 10345, 18950,  6855,  6692,  7053, 15250,  9295, 15580,
        9298, 24565,  7957,  7689,  7349, 13645,  7609,  7349, 23875,
       19045,  7689,  6229,  7895, 18420, 13207, 17950, 14489, 16925,
        9988,  5399,  5151,  6649, 15510, 16500, 10898, 11694,  6695,
       15040, 16925,  7053,  8358, 18399,  7295,  5499,  9495, 16515,
        9989, 12170,  9980,  9549,  6989,  9538, 41315,  7603, 17669,
       15510, 16925, 16515,  6795, 34028,  8921, 13950, 10295,  9095,
        8949, 10345, 15250, 11245,  9295,  9295,  7775, 19045, 12764,
        8495,  7129,  6377, 34184, 13495, 11248,  7775,  8238,  6695,
       24565,  9279, 11900, 16900,  6295, 12629,  6229,  7099,  9298,
       41315,  7603,  5499, 21105,  7957,  8058,  5499,  7609, 12764,
       15985,  7898, 30760,  9258, 40960,  7898])

In [33]:
np.mean(y_predict)

13145.030487804877

In [34]:
np.mean(y_test)

13145.030487804877

In [35]:
(y_predict==y_test)

1268    True
2270    True
1617    True
499     True
535     True
1457    True
1004    True
1475    True
1167    True
477     True
2003    True
1489    True
1791    True
1861    True
1228    True
1959    True
2029    True
1797    True
468     True
527     True
2040    True
1117    True
1102    True
1347    True
2038    True
760     True
610     True
2223    True
808     True
2220    True
        ...
481     True
205     True
177     True
592     True
1599    True
1283    True
2269    True
703     True
517     True
1957    True
839     True
2132    True
1459    True
2345    True
165     True
16      True
1575    True
2139    True
1448    True
1868    True
2213    True
2344    True
1352    True
1354    True
1426    True
1384    True
1655    True
572     True
893     True
2204    True
Name: price, Length: 492, dtype: bool

In [36]:
accuracy_score(y_predict,y_test)

1.0